body {
font-family: "Lato", sans-serif;
}

#lista_menu li{
    list-style: none;
    display: inline-block;
}
#div_left{
    position: absolute;
    left: 0;
}
#div_right{
    position: absolute;
    right: 150px;
    top:10px;
}
#cor{
    background-image: linear-gradient(to right, rgb(162, 162, 255), rgb(200, 240, 241));
    height: 50px;
}
    
.form-inline{
    margin-left:300px;
}
/*Barra de registro e procurar*/
.procurar_direita{
    float: right;
    margin: 0 0 0 450px;
    width: 600px;
}
@media screen and (max-width:1000px){
    div.procurar_direita{
        display: none;
    }
}
.registro_esquerda{
    float: left;
    margin: -30px 0 40px -20px;
    background-color: blue;

}
.registro_horizontal{
    width: 75vw;
    
    margin:0 0 20px 2vw;
    background-color: green;
}

.registro_esquerda a{
    color: white;
}
.registro_esquerda a:link{
    text-decoration: none;
    background-color: rgb(190, 190, 190);
    padding: 10px 15px;
    border-radius: 5px;
}
.thead-dark th{/*Deixar o texto maiusculos da tabela*/
    text-transform: uppercase;
}
.tirar_borda{
    outline: none;
    border: 1px solid black;
    box-shadow: 0 0 0 0;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    height: 38px;
}

.tab_top{
    border-color: rgb(27, 27, 27);
    border-left: white;
    outline: 0 0 0;
    box-shadow: none ;
    border-radius: 0px 15px 15px 0px;
    background-color: transparent;
}
.sidenav {
    height: 100%;
    width: 23vw;

    position: fixed;
    top: 17px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 34px;
}
#Services, #Clientes, #Contato, #home{
    display: none;
    padding: 10px;
}
.aba{
    margin-top: 50px;
    margin-left: -10px;
    width: 76vw;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #030101;
    display: block;
    width: 300px;
    font-size: 14pt;
    border-radius: 40px;
}

#menu{
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 0px;
}
#pag{/*Tamanho do espaço da tabela*/
    margin-top:50px;
    margin-left: 300px;
    padding: 0 10px;
    border-top: 1px solid black;
}
.borda{
    text-align: left;
    margin-left: -40px;
    outline: 0;  
    background-color: white;
    margin-top: -1px;
    text-transform: uppercase;
}
#borda1{
    background-color: #b1b1b1;
}

#sem-linha li{
    list-style: none;
}
#sem-linha{
    margin-top: 9.5vh;
}
/*Modal de confirmação de editar*/
.title-modal{
    text-align:center; 
    margin-bottom:70px;
}
.bot-del-cancelar{
    float:left; 
    margin-left:20px;
}
.bot-del-confirmar{
    float:right; 
    margin-right:20px;
}

/*Cor da transição de cor do sair do dropdown*/
.cor-sair:hover{box-shadow:1px 1px 1px black;background-color: rgb(243, 243, 243);}
.cor-sair a:hover{background-color: rgb(243, 243, 243);}

/*Estilizar o botoes de paginação*/
.div-paginacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.active{
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
}
.paginacao-medic,.paginacao-funcio{
    border:1px solid gray;
    padding: 4px 9px;
    color: #333;
    box-shadow:1px 1px 1px #333;
    cursor: pointer;
}
a.paginacao-medic:link{text-decoration: none;}
a.paginacao-funcio:link{text-decoration: none;}
a.paginacao-medic:hover{color: rgb(0, 0, 0);}
a.paginacao-funcio:hover{color: rgb(0, 0, 0);}
.cor-fundo{
    background-color: black;
    color: white;
}
/*Aba relacionada a informação do sistema*/
.container-about{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.box-about{
    text-align: center;
    width: 80%;
    margin: auto;
    
}
.box-about h3{
    margin-top: 30px;
}
.box-about p{
    text-align: justify;
}